<div class="card card-profile">
  <div class="card-header" style="background-color: #3e668a;"></div>
  <div class="card-body text-center">
    <%= image_tag company.logo(:medium), class: "card-profile-img"%>
    <h3 class="mb-3"><%= link_to company.name, company%></h3>
    <ul class="social-links list-inline mb-0 mt-2">
      <li class="list-inline-item mb-0">
        <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Facebook" aria-describedby="tooltip244372"><i class="fe fe-at-sign"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-instagram"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="1234567890"><i class="fa fa-telegram"></i></a>
      </li>

    </ul>
  </div>
</div>
