<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @packaging_type.title %>
</p>

<%= link_to 'Edit', edit_packaging_type_path(@packaging_type) %> |
<%= link_to 'Back', packaging_types_path %>
